/* Fonts */
@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/MONTSERRAT-MEDIUM_0.TTF');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('../fonts/MONTSERRAT-SEMIBOLD_0.TTF');
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/POPPINS-BOLD_0.TTF');
}

@font-face {
    font-family: 'qatar';
    src: url('../fonts/QATAR2022ARABIC-HEAVY.TTF');
}

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    background-color: #000;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    font-family: 'poppins', sans-serif;
}

/* Navigation Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.logo {
    cursor: pointer;
    width: 50px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    margin: 0 20px;
}

.nav__links li a {
    color: #f0f8ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav__links li a:hover {
    color: #00ccff;
}

.navbar.sticky {
    padding: 8px 5%;
    background: transparent;
    backdrop-filter: blur(35px);
}

/* Button Styles */
button {
    padding: 10px 50px;
    background-color: #00ccff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover {
    border: 1px solid #00ccff;
    background: none;
    color: #00ccff;
}

/* Section Styles */
section {
    width: 100%;
    height: 100vh;
    background-color: #00000081;
}

/* Home Section Styles */
.home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home .content {
    margin-left: 5%;
    display: grid;
}

.home .content .text h3 {
    color: #b3b3b3;
    font-family: 'montserrat-medium';
    font-size: 20px;
    margin-bottom: -20px;
}

.home .content .text h1 {
    color: #00ccff;
    font-family: 'qatar';
    font-size: 7rem;
    margin-bottom: -30px;
}

.home .content .text h2 {
    color: #f0f8ff;
    font-family: 'montserrat-semibold';
    font-size: 30px;
    margin-bottom: 30px;
}

/* Sobre Section Styles */
.sobre .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

.sobre .content .text {
    width: 50%;
}

.sobre .content .photo {
    width: 30%;
}

.sobre .content img {
    width: 100%;
    border-radius: 10px;
    animation: shadow 5s infinite;
}

.sobre .content .text h1 {
    color: #00ccff;
    font-family: 'qatar';
    font-size: 5rem;
}

.sobre .content .text p {
    color: #f0f8ff;
    font-family: 'montserrat-semibold';
    margin-bottom: 30px;
}

.sobre .content .text a {
    text-decoration: none;
    color: #f0f8ff;
    padding: 15px 50px;
    background: #00ccff;
    transition: all .50s ease;
}

.sobre .content .text a:hover {
    background: none;
    color: #f0f8ff;
    border: 1px solid #00ccff;
}

/* Keyframe Animation */
@keyframes shadow {
    0% {
        box-shadow: 0px 0px 20px 3px #00ccff;
    }

    25% {
        box-shadow: 0px 0px 20px 2px #3ed8ff;
    }

    50% {
        box-shadow: 0px 0px 20px 3px #a0e7f8;
    }

    75% {
        box-shadow: 0px 0px 20px 2px #3ed8ff;
    }

    100% {
        box-shadow: 0px 0px 20px 3px #00ccff;
    }
}